.nav-link {
    text-decoration: none;
}

.nav-link:active {
    text-decoration: underline;
}

.row{
    display: flex;
    justify-content: center;
}
.home-image{
    width: 100%;
    border-radius: 20px;
}

.project-card{
    display: flex;
    padding: 15px;
    margin: 5px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}
.project-content{
    /* margin-left: 80px; */
}
.project-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}
.project-techs{
    display: flex;
    flex-wrap: wrap;
}
.tech-tag{
    margin-right: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
.project-others-btn{
    margin-right: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.737);
    cursor: pointer;
}
.project-others-icon{
    margin-left: 5px;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.responsive-image {
    width: 100%;
    /* max-height: 300px; */
    border-radius: 5px;
}

/* FOOTER */
.footer-container{
    margin-bottom: 20px;
    margin-top: 50px;
}
.footer-logo{
    width: 30px;
    margin: 10px;
    background-color: white;
}
.footer-logo-container{
    display: flex;
    justify-content: center;
}
.footer-email-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

/* HOVER */
.footer-logo:hover{
    transform: scale(1.5);
}

/* TAB */
#tabs-content{
    color:black
}
/* SWITCH */
.switch{
    display: flex;
    justify-content: center;
    margin-top: 20px
}